
.nb {

  list-style-type: none;

   
}

.navbar {

  background-color:grey;
  padding: 10px;

   

}

.navb {

  display: flex;
   justify-content: space-evenly;
}

a {

  text-decoration: none;
  color: black;
}
